# Ignore everything:
*

# Do not ignore the .gitignore file
!.gitignore

# Do not ignore the component or media
!components/
!components/*
!components/com_donorcart/
!components/com_donorcart/*
!components/com_donorcart/controllers/
!components/com_donorcart/controllers/*
!components/com_donorcart/language/
!components/com_donorcart/language/*
!components/com_donorcart/language/en-GB/
!components/com_donorcart/language/en-GB/*
!components/com_donorcart/models/
!components/com_donorcart/models/*
!components/com_donorcart/views/
!components/com_donorcart/views/*
!components/com_donorcart/views/cart/
!components/com_donorcart/views/cart/*
!components/com_donorcart/views/cart/tmpl/
!components/com_donorcart/views/cart/tmpl/*
!components/com_donorcart/views/checkout/
!components/com_donorcart/views/checkout/*
!components/com_donorcart/views/checkout/tmpl/
!components/com_donorcart/views/checkout/tmpl/*
!components/com_donorcart/views/order/
!components/com_donorcart/views/order/*
!components/com_donorcart/views/order/tmpl/
!components/com_donorcart/views/order/tmpl/*
!components/com_donorcart/views/orders/
!components/com_donorcart/views/orders/*
!components/com_donorcart/views/orders/tmpl/
!components/com_donorcart/views/orders/tmpl/*
!administrator/
!administrator/*
!administrator/components/
!administrator/components/*
!administrator/components/com_donorcart/
!administrator/components/com_donorcart/*
!administrator/components/com_donorcart/helpers/
!administrator/components/com_donorcart/helpers/*
!administrator/components/com_donorcart/language/
!administrator/components/com_donorcart/language/*
!administrator/components/com_donorcart/language/en-GB/
!administrator/components/com_donorcart/language/en-GB/*
!administrator/components/com_donorcart/models/
!administrator/components/com_donorcart/models/*
!administrator/components/com_donorcart/sql/
!administrator/components/com_donorcart/sql/*
!administrator/components/com_donorcart/sql/updates/
!administrator/components/com_donorcart/sql/updates/*
!administrator/components/com_donorcart/sql/updates/mysql/
!administrator/components/com_donorcart/sql/updates/mysql/*
!administrator/components/com_donorcart/views/
!administrator/components/com_donorcart/views/*
!administrator/components/com_donorcart/views/order/
!administrator/components/com_donorcart/views/order/*
!administrator/components/com_donorcart/views/order/tmpl/
!administrator/components/com_donorcart/views/order/tmpl/*
!administrator/components/com_donorcart/views/orders/
!administrator/components/com_donorcart/views/orders/*
!administrator/components/com_donorcart/views/orders/tmpl/
!administrator/components/com_donorcart/views/orders/tmpl/*
!media/
!media/*
!media/com_donorcart/
!media/com_donorcart/*
!media/com_donorcart/images/
!media/com_donorcart/images/*

# Do not ignore the module
!modules/
!modules/*
!modules/mod_donorcart/
!modules/mod_donorcart/*

# Do not ignore our plugins
!plugins/
!plugins/*
!plugins/content/
!plugins/content/*
!plugins/content/donorcart_cart/
!plugins/content/donorcart_cart/*
!plugins/donorcart/
!plugins/donorcart/*
!plugins/donorcart/authorizenet/
!plugins/donorcart/authorizenet/*
!plugins/donorcart/authorizenet/anet_php_sdk/
!plugins/donorcart/authorizenet/anet_php_sdk/*
!plugins/donorcart/authorizenet/anet_php_sdk/lib/
!plugins/donorcart/authorizenet/anet_php_sdk/lib/*
!plugins/donorcart/authorizenet/anet_php_sdk/lib/shared/
!plugins/donorcart/authorizenet/anet_php_sdk/lib/shared/*
!plugins/donorcart/authorizenet/anet_php_sdk/lib/ssl/
!plugins/donorcart/authorizenet/anet_php_sdk/lib/ssl/*
!plugins/donorcart/donatelinq/
!plugins/donorcart/donatelinq/*
!plugins/donorcart/free/
!plugins/donorcart/free/*
!plugins/donorcart/sagepay/
!plugins/donorcart/sagepay/*
!plugins/donorcart/testhelp/
!plugins/donorcart/testhelp/*

# Ignore miscellaneous index.html and index.php files
components/index.html
administrator/index.html
administrator/index.php
administrator/components/index.html
media/index.html
modules/index.html
plugins/index.html
plugins/content/index.html
plugins/donorcart/index.html
