# Ignore everything:
*

# Do not ignore the .gitignore file
!.gitignore

# Do not ignore the component or media
!components/
!components/com_donorcart/
!components/com_donorcart/*
!components/com_donorcart/controllers/
!components/com_donorcart/controllers/*
!components/com_donorcart/language/
!components/com_donorcart/language/*
!components/com_donorcart/language/en-GB/
!components/com_donorcart/language/en-GB/*
!components/com_donorcart/models/
!components/com_donorcart/models/*
!components/com_donorcart/views/
!components/com_donorcart/views/*
!components/com_donorcart/views/cart/
!components/com_donorcart/views/cart/*
!components/com_donorcart/views/cart/tmpl/
!components/com_donorcart/views/cart/tmpl/*
!components/com_donorcart/views/checkout/
!components/com_donorcart/views/checkout/*
!components/com_donorcart/views/checkout/tmpl/
!components/com_donorcart/views/checkout/tmpl/*
!components/com_donorcart/views/order/
!components/com_donorcart/views/order/*
!components/com_donorcart/views/order/tmpl/
!components/com_donorcart/views/order/tmpl/*
!components/com_donorcart/views/orders/
!components/com_donorcart/views/orders/*
!components/com_donorcart/views/orders/tmpl/
!components/com_donorcart/views/orders/tmpl/*
!administrator/
!administrator/components/
!administrator/components/com_donorcart/
!administrator/components/com_donorcart/*
!administrator/components/com_donorcart/helpers/
!administrator/components/com_donorcart/helpers/*
!administrator/components/com_donorcart/language/
!administrator/components/com_donorcart/language/*
!administrator/components/com_donorcart/language/en-GB/
!administrator/components/com_donorcart/language/en-GB/*
!administrator/components/com_donorcart/models/
!administrator/components/com_donorcart/models/*
!administrator/components/com_donorcart/sql/
!administrator/components/com_donorcart/sql/*
!administrator/components/com_donorcart/sql/updates/
!administrator/components/com_donorcart/sql/updates/*
!administrator/components/com_donorcart/sql/updates/mysql/
!administrator/components/com_donorcart/sql/updates/mysql/*
!administrator/components/com_donorcart/views/
!administrator/components/com_donorcart/views/*
!administrator/components/com_donorcart/views/order/
!administrator/components/com_donorcart/views/order/*
!administrator/components/com_donorcart/views/order/tmpl/
!administrator/components/com_donorcart/views/order/tmpl/*
!administrator/components/com_donorcart/views/orders/
!administrator/components/com_donorcart/views/orders/*
!administrator/components/com_donorcart/views/orders/tmpl/
!administrator/components/com_donorcart/views/orders/tmpl/*
!media/
!media/com_donorcart/
!media/com_donorcart/*
!media/com_donorcart/images/
!media/com_donorcart/images/*

# Do not ignore the modules
!modules/
!modules/mod_donorcart_cart/
!modules/mod_donorcart_cart/*
!modules/mod_donorcart_form/
!modules/mod_donorcart_form/*
!modules/mod_donorcart_form/language/
!modules/mod_donorcart_form/language/*
!modules/mod_donorcart_form/language/en-GB/
!modules/mod_donorcart_form/language/en-GB/*
!modules/mod_donorcart_form/tmpl/
!modules/mod_donorcart_form/tmpl/*


# Do not ignore our plugins
!plugins/
!plugins/content/
!plugins/content/donorcart/
!plugins/content/donorcart/*
!plugins/content/donorcart/tmpl/
!plugins/content/donorcart/tmpl/*
!plugins/donorcart/
!plugins/donorcart/authorizenet/
!plugins/donorcart/authorizenet/*
!plugins/donorcart/authorizenet/anet_php_sdk/
!plugins/donorcart/authorizenet/anet_php_sdk/*
!plugins/donorcart/authorizenet/anet_php_sdk/lib/
!plugins/donorcart/authorizenet/anet_php_sdk/lib/*
!plugins/donorcart/authorizenet/anet_php_sdk/lib/shared/
!plugins/donorcart/authorizenet/anet_php_sdk/lib/shared/*
!plugins/donorcart/authorizenet/anet_php_sdk/lib/ssl/
!plugins/donorcart/authorizenet/anet_php_sdk/lib/ssl/*
!plugins/donorcart/authorizenet/tmpl/
!plugins/donorcart/authorizenet/tmpl/*
!plugins/donorcart/authorizenet/language/
!plugins/donorcart/authorizenet/language/*
!plugins/donorcart/authorizenet/language/en-GB/
!plugins/donorcart/authorizenet/language/en-GB/*
!plugins/donorcart/donatelinq/
!plugins/donorcart/donatelinq/*
!plugins/donorcart/donatelinq/tmpl/
!plugins/donorcart/donatelinq/tmpl/*
!plugins/donorcart/donatelinq/language/
!plugins/donorcart/donatelinq/language/*
!plugins/donorcart/donatelinq/language/en-GB/
!plugins/donorcart/donatelinq/language/en-GB/*
!plugins/donorcart/free/
!plugins/donorcart/free/*
!plugins/donorcart/sagepay/
!plugins/donorcart/sagepay/*
!plugins/donorcart/testhelp/
!plugins/donorcart/testhelp/*
!plugins/donorcart/orderemails/
!plugins/donorcart/orderemails/*
!plugins/donorcart/orderemails/tmpl/
!plugins/donorcart/orderemails/tmpl/*
