<?xml version="1.0" encoding="UTF-8"?>
<config>
	<fieldset name="basic" label="COM_DONORCART_CONFIG_BASIC_LABEL" description="COM_DONORCART_CONFIG_BASIC_DESC">
		<field name="testmode" type="list" default="0" label="COM_DONORCART_CONFIG_BASIC_TESTMODE_LABEL" description="COM_DONORCART_CONFIG_BASIC_TESTMODE_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="ssl_mode" type="list" default="0" label="COM_DONORCART_CONFIG_BASIC_SSLMODE_LABEL" description="COM_DONORCART_CONFIG_BASIC_SSLMODE_DESC">
			<option value="0">JDISABLED</option>
			<option value="1">JENABLED</option>
			<option value="2">COM_DONORCART_CONFIG_COMMON_REQUIRED</option>
		</field>
		<field name="admin_email" type="text" size="50" default="" label="COM_DONORCART_CONFIG_BASIC_ADMINEMAIL_LABEL" description="COM_DONORCART_CONFIG_BASIC_ADMINEMAIL_DESC" />
	</fieldset>
	<fieldset name="javascript" label="COM_DONORCART_CONFIG_JAVASCRIPT_LABEL" description="COM_DONORCART_CONFIG_JAVASCRIPT_DESC">
		<field name="load_jquery" type="list" default="0" label="COM_DONORCART_CONFIG_JAVASCRIPT_LOADJQUERY_LABEL" description="COM_DONORCART_CONFIG_JAVASCRIPT_LOADJQUERY_DESCRIPTION">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="jqueryui_version" type="list" default="0" label="COM_DONORCART_CONFIG_JAVASCRIPT_JQUERYUI_VERSION_LABEL" description="COM_DONORCART_CONFIG_JAVASCRIPT_JQUERYUI_VERSION_DESCRIPTION">
			<option value="0">None (loaded by another extension)</option>
			<option value="1.10.1">1.10.1</option>
			<option value="1.10.2">1.10.2</option>
			<option value="1.10.3">1.10.3</option>
			<option value="1.10.4">1.10.4</option>
		</field>
		<field name="jqueryui_theme" type="list" default="" label="COM_DONORCART_CONFIG_JAVASCRIPT_JQUERYUI_THEME_LABEL" description="COM_DONORCART_CONFIG_JAVASCRIPT_JQUERYUI_THEME_DESCRIPTION">
			<option value="">None (loaded by another extension)</option>
			<option value="black-tie">black-tie</option>
			<option value="blitzer">blitzer</option>
			<option value="cupertino">cupertino</option>
			<option value="dark-hive">dark-hive</option>
			<option value="dot-luv">dot-luv</option>
			<option value="eggplant">eggplant</option>
			<option value="excite-bike">excite-bike</option>
			<option value="flick">flick</option>
			<option value="hot-sneaks">hot-sneaks</option>
			<option value="humanity">humanity</option>
			<option value="le-frog">le-frog</option>
			<option value="mint-choc">mint-choc</option>
			<option value="overcast">overcast</option>
			<option value="pepper-grinder">pepper-grinder</option>
			<option value="redmond">redmond</option>
			<option value="smoothness">smoothness</option>
			<option value="south-street">south-street</option>
			<option value="start">start</option>
			<option value="sunny">sunny</option>
			<option value="swanky-purse">swanky-purse</option>
			<option value="trontastic">trontastic</option>
			<option value="ui-darkness">ui-darkness</option>
			<option value="ui-lightness">ui-lightness</option>
			<option value="vader">vader</option>
		</field>
	</fieldset>
	<fieldset name="checkout" label="COM_DONORCART_CONFIG_CHECKOUT_LABEL" description="COM_DONORCART_CONFIG_CHECKOUT_DESC">
		<field name="login_option" type="list" default="0" label="COM_DONORCART_CONFIG_CHECKOUT_ALLOWLOGIN_LABEL" description="COM_DONORCART_CONFIG_CHECKOUT_ALLOWLOGIN_DESCRIPTION">
			<option value="0">COM_DONORCART_CONFIG_COMMON_SKIP</option>
			<option value="1">COM_DONORCART_CONFIG_COMMON_OPTIONAL</option>
			<option value="2">COM_DONORCART_CONFIG_COMMON_REQUIRED</option>
		</field>
		<field name="require_email_for_guest_checkout" type="list" default="0" label="COM_DONORCART_CONFIG_CHECKOUT_REQUIREEMAIL_LABEL" description="COM_DONORCART_CONFIG_CHECKOUT_REQUIREEMAIL_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="allow_recurring_donations" type="list" default="0" label="COM_DONORCART_CONFIG_CHECKOUT_RECURRINGOPTION_LABEL" description="COM_DONORCART_CONFIG_CHECKOUT_RECURRINGOPTION_DESC">
			<option value="0">COM_DONORCART_CONFIG_COMMON_SKIP</option>
			<option value="1">COM_DONORCART_CONFIG_COMMON_OPTIONAL</option>
			<option value="2">COM_DONORCART_CONFIG_COMMON_SELECTED</option>
		</field>
		<field name="allow_dedication_option" type="list" default="1" label="COM_DONORCART_CONFIG_CHECKOUT_DEDICATIONOPTION_LABEL" description="COM_DONORCART_CONFIG_CHECKOUT_DEDICATIONOPTION_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="shipto_option" type="list" default="0" label="COM_DONORCART_CONFIG_CHECKOUT_SHIPTOOPTION_LABEL" description="COM_DONORCART_CONFIG_CHECKOUT_SHIPTOOPTION_DESC">
			<option value="0">COM_DONORCART_CONFIG_COMMON_SKIP</option>
			<option value="1">COM_DONORCART_CONFIG_COMMON_OPTIONAL</option>
			<option value="2">COM_DONORCART_CONFIG_COMMON_REQUIRED</option>
		</field>
		<field name="billto_option" type="list" default="0" label="COM_DONORCART_CONFIG_CHECKOUT_BILLTOOPTION_LABEL" description="COM_DONORCART_CONFIG_CHECKOUT_BILLTOOPTION_DESC">
			<option value="0">COM_DONORCART_CONFIG_COMMON_SKIP</option>
			<option value="1">COM_DONORCART_CONFIG_COMMON_OPTIONAL</option>
			<option value="2">COM_DONORCART_CONFIG_COMMON_REQUIRED</option>
		</field>
		<field name="review_option" type="list" default="0" label="COM_DONORCART_CONFIG_CHECKOUT_REVIEWOPTION_LABEL" description="COM_DONORCART_CONFIG_CHECKOUT_REVIEWOPTION_DESC">
			<option value="0">COM_DONORCART_CONFIG_COMMON_SKIP</option>
			<option value="2">COM_DONORCART_CONFIG_COMMON_REQUIRED</option>
		</field>
		<!--field name="display_cart" type="list" default="1" label="COM_DONORCART_CONFIG_CHECKOUT_DISPLAYCART_LABEL" description="COM_DONORCART_CONFIG_CHECKOUT_DISPLAYCART_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field-->
	</fieldset>
	<fieldset name="review" label="COM_DONORCART_CONFIG_ORDERREVIEW_LABEL" description="COM_DONORCART_CONFIG_ORDERREVIEW_DESC">
		<field name="history_pretext" type="textarea" filter="SAFEHTML" default="" label="COM_DONORCART_CONFIG_ORDERREVIEW_PRETEXT_LABEL" description="COM_DONORCART_CONFIG_ORDERREVIEW_PRETEXT_DESC" />
		<field name="history_posttext" type="textarea" filter="SAFEHTML" default="" label="COM_DONORCART_CONFIG_ORDERREVIEW_POSTTEXT_LABEL" description="COM_DONORCART_CONFIG_ORDERREVIEW_POSTTEXT_DESC" />
		<field name="detail_pretext" type="textarea" filter="SAFEHTML" default="" label="COM_DONORCART_CONFIG_ORDERREVIEW_DETAILPRETEXT_LABEL" description="COM_DONORCART_CONFIG_ORDERREVIEW_DETAILPRETEXT_DESC" />
		<field name="detail_posttext" type="textarea" filter="SAFEHTML" default="" label="COM_DONORCART_CONFIG_ORDERREVIEW_DETAILPOSTTEXT_LABEL" description="COM_DONORCART_CONFIG_ORDERREVIEW_DETAILPOSTTEXT_DESC" />
	</fieldset>
	<fieldset name="permissions" label="JCONFIG_PERMISSIONS_LABEL" description="JCONFIG_PERMISSIONS_DESC">
		<field name="rules" type="rules" label="JCONFIG_PERMISSIONS_LABEL" class="inputbox" filter="rules" component="com_donorcart" section="component" />
	</fieldset>
</config>
