@charset "utf-8";
/* CSS Document */

/******************* Helpful classes *******************/
.clear {
	clear:both;
}
.input-mini {
	width:60px;
}
.input-full {
	width:auto;
}
.fullwidth, input.fullwidth {
	width:100%;
}

/******************* Add to cart form styles *******************/
form.dcartadd {
	padding: 10px 10px 0 15px;
	background: #EEE;
	border-radius: 15px;
	border: 1px solid #CCC;
	margin-bottom:20px;
}
form.dcartadd h3 {
	margin-top: 0;
}
.dcart-item-image, .dcart-item-form, .dcart-static, .dcart-editable, .dcart-selectlist, .item-price-selector, .item-qty-selector, .dcart-item-add-button {
	float:left;
	margin:0 15px 10px 0;
}
.dcart-item-image {
	max-width:33%;
}
form.dcartadd label {
	display:inline-block;
}
form.dcartadd input {
	margin:0;
}
form.dcartadd input.dcart-add-recurring {
	margin-left:10px;
}
form.dcartadd select {
	margin:0;
}
span.cart-item-name {
	font-weight:bold;
}
div.dcart-editable {
	clear:left;
}
.dcart-add-button {
	display:inline-block;
	background-color:#DD7C00;
	color:#FFF;
	text-indent:0;
	text-shadow: 2px 2px 3px #333;
	text-decoration:none;
	text-align:center;
	font-weight:bold;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	border:1px solid #CFA55C;
	box-shadow: 1px 1px 1px #333;
	padding: 3px 25px;
}
.dcart-add-button:hover {
	background-color:#C56905;
}
.dcart-add-button:active {
	position:relative;
	top:1px;
	box-shadow: inset 1px 1px 1px #333;
}
form.dcartadd.vanilla {
	padding:0;
	background:none;
	border:none;
}
form.dcartadd.vanilla label {
	display:block;
}

/******************* Cart styles *******************/
table.dcart-table {
	font-size:0.9em;
	width:100%;
	border:0;
	border-collapse:collapse;
}
table.dcart-table th, table.dcart-table td {
	padding:0;
	border:0;
	border-bottom:1px dashed #A6A593;
	vertical-align:top;
	text-align:left;
	font-weight:normal;
}
table.dcart-table tfoot td {
	border-bottom:none;
}
table.dcart-table td.empty {
	text-align:center;
}
td.dcart-item-qty {
	min-width:20px;
}
span.dcart-subtotal {
	display:block;
	color:#014279;
	font-size:120%;
	float:right;
	font-weight:bold;
}
.dcart-cartbuttons {
	clear:both;
	margin-top:10px;
	text-align:right;
}
.dcart-cartbuttons .btn {
	margin-left:1em;
}

/******************* Checkout styles *******************/
#donorcart_checkout_container fieldset {
	display: block;
	border: 1px solid #EEE;
	margin:10px 0 0 15px;
	padding: 15px;
}
#donorcart_checkout_container legend {
	margin: 0;
	padding: 0 10px;
	font-weight: bold;
	font-size: 1.2em;
	line-height: 1.2em;
	display: block;
	width: auto;
	border: none;
}
#donorcart_checkout_container input[name=account_option] {
	float:left;
	margin-right:10px;
}
#donorcart_checkout_container label {
	float: left;
	clear: left;
	display: block;
	width: 120px;
	font-weight: bold;
}
#donorcart_checkout_container input+label {
	float: none;
	clear: none;
	display: block;
	width: auto;
	font-weight: normal;
}
#donorcart_checkout_form .field.textarea label {
	float:none;
	width:auto;
}
#donorcart_checkout_form .field.textarea textarea {
	box-sizing:border-box;
	width:100%;
}
#donorcart_checkout_container .optiondrawer {
	padding-left: 50px;
	display:none;
}
#donorcart_checkout_form input[type=submit] {
	float:right;
}


#donorcart_checkout_container{display:block;position:relative;zoom:1;z-index:44;}
.dcart_overlay{position:absolute;top:0;left:0;width:100%;height:100%;background:rgba(255,255,255,0.7);}
.dcart_overlay_inner{margin:0 auto;position:relative;top:40%;}