@charset "utf-8";
/* CSS Document */

form.dcartadd {
	padding: 10px 10px 10px 15px;
	background: #EEE;
	border-radius: 15px;
	border: 1px solid #CCC;
	margin-bottom:20px;
}
form.dcartadd h3 {
	margin-top: 0;
}
.dcart-item-image, .dcart-item-form, .dcart-static, .dcart-editable, .dcart-selectlist, .item-price-selector, .item-qty-selector, .dcart-item-add-button {
	float:left;
	margin:0 15px 0 0;
}
.dcart-item-image {
	max-width:33%;
}
form.dcartadd label {
	display:inline-block;
}
form.dcartadd input {
	margin:0;
}
span.cart-item-name {
	font-weight:bold;
}
div.dcart-editable {
	clear:left;
}
.dcart-add-button {
	display:inline-block;
	background-color:#DD7C00;
	color:#FFF;
	text-indent:0;
	text-shadow: 2px 2px 3px #333;
	text-decoration:none;
	text-align:center;
	font-weight:bold;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	border:1px solid #CFA55C;
	box-shadow: 1px 1px 1px #333;
	padding: 3px 25px;
}
.dcart-add-button:hover {
	background-color:#C56905;
}
.dcart-add-button:active {
	position:relative;
	top:1px;
	box-shadow: inset 1px 1px 1px #333;
}
.clear {
	clear:both;
}
.input-mini {
	width:60px;
}
.input-full {
	width:auto;
}
form.dcartadd.vanilla {
	padding:0;
	background:none;
	border:none;
}
form.dcartadd.vanilla label {
	display:block;
}



table.dcart-table {
	font-size:12px;
}
#dcart_target *, table.dcart-table *{
	margin:0;
	padding:0;
}
#dcart_target fieldset {
	border:none;
}
table.dcart-table {
	width:100%;
	border:0;
	border-collapse:collapse;
}
table.dcart-table th, table.dcart-table td {
	padding: 5px;
	border:0;
	border-bottom:1px dashed #A6A593;
	vertical-align:top;
	text-align:left;
	font-weight:normal;
}
table.dcart-table tfoot td {
	border-bottom:none;
}
table.dcart-table td.empty {
	text-align:center;
}
table.dcart-table td.dcart-item-qty {
	min-width:20px;
}
table.dcart-table span#dcart-subtotal {
	display:block;
	color:#014279;
	font-size:120%;
	float:right;
	font-weight:bold;
}
table.dcart-table #dcart-checkout {
	clear:both;
	float:right;
}




.checkout fieldset {
border: 0px solid #A1926E;
margin-top: 15px;
padding: 15px;
}

.checkout fieldset.em {
    background-color: transparent;
    }
.checkout legend {
margin: 0;
padding: 0 10px;
font-weight: bold;
font-size: 14px;
}
.checkout legend {
display: block;
-webkit-padding-start: 2px;
-webkit-padding-end: 2px;
border: none;
}

.checkout div.billingprevious {
    margin-bottom: 10px;
    padding-bottom: 10px;
    line-height: 14px;
    border-bottom: 1px dashed #bbb;
    }

.checkout label {float: left; display: block; width: 120px; font-weight: bold;}
.checkout td.label {width: 160px; font-weight:  bold; text-align: right; padding-right: 5px;}

.checkout table.credit_card {width: 630px;}
.checkout table.credit_card td{width: 470px;}
.checkout table.credit_card td.label{width: 160px;}
.checkout table.credit_card img {padding: 5px 0px;}

.checkout fieldset { display: block;}

.checkout .option{padding-left: 50px; display:none;}

tr.cart-row, .cart-table tr th {background: #ddd; color: #444;}

#dcart2 * { margin:0; padding:0; font-family:arial, tahoma, verdana, sans-serif; }
#dcart2, #dcart2 input, #dcart-tooltip { font-size:12px; }
#dcart2 fieldset { border:0; }
#dcart2 table { width:100%; border:0; border-collapse:collapse; }
#dcart2 tr {  }
#dcart2 th, #dcart2 td { padding:5px 13px 5px 13px; border:0; vertical-align:top; text-align:left; font-weight:normal; }
#dcart2 td {border-bottom: 1px dashed #999;}
#dcart2 td.empty { text-align:center; }
#dcart2 p.dcart-error { text-align:center; padding:5px; color: red; font-weight: bold; }
#dcart2 strong#dcart-title {  }
#dcart2 th {}
#dcart2 th#header {  }
#dcart th#footer {  }
#dcart2 td.dcart-item-qty { width:25%; }
#dcart2 td.dcart-item-name { width:50%; font-weight:bold; }
#dcart2 td.dcart-item-price { width:25%; font-weight:bold; text-align:right; }
#dcart2 td.dcart-item-price span { display:block; }
#dcart2 a.dcart-remove { font-size:11px; font-weight:normal; color:red; }
#dcart2 span#dcart-subtotal { display:block; }
#dcart2 span#dcart-subtotal strong {  }
#dcart2 input.jcar-button { padding:2px; margin:2px;}
#dcart2 input#dcart-checkout { float:right; }
#dcart2 input#dcart-paypal-checkout { display:block; padding:10px; margin:20px auto; }
#dcart2-tooltip {  padding:3px 7px 3px 25px; background:url(images/checkmark.png) 3px center no-repeat #f2fcee; }
#dcart2_target { }


